// @import "@/node_modules/handsontable/dist/handsontable.min.css";

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSansCJKkr-Regular');
    src: url('NotoSansCJKkr-Regular.otf') format("opentype");
}

.material-icons{
    vertical-align: top;
}

body{
    font-family: 'Noto Sans';
    color:#333;
    margin: 0;
}

