
.inputItem[data-v-93c4d9]{padding:.5rem;border:1px solid #aaa;margin-bottom:.25rem
}
.modal-background[data-v-c4b9c0]{position:fixed;width:100%;height:100%;background-color:rgba(0,0,0,.5);z-index:100;display:flex;justify-content:center
}
.modal[data-v-c4b9c0]{padding:.5rem 1.5rem;background-color:#fff;border:1px solid #ccc;position:absolute;top:20%
}